*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #30B868;
    width: 164px;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    max-width: 1600px;
    margin: 0px auto;
    padding: 16px 120px;
    color: #FFFFFF;
}

nav .kv-logo{
    width: 139px;

}

nav .menu{
    width: 365px;
    gap: 32px;
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 16px;
    

}

nav .btn{
    font-size: 16px;
    color: #FFFFFF;
}

