*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #30B868;
    width: 164px;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    max-width: 1600px;
    margin: 0px auto;
    padding: 16px 120px;
    color: #FFFFFF;
}

nav .kv-logo{
    width: 139px;

}

nav .menu{
    width: 365px;
    gap: 32px;
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 16px;
    

}

nav .btn{
    font-size: 16px;
    color: #FFFFFF;
}


#hero{
    background: url(./assets/hero-bg.png); 
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    max-width: 1600px;
    height: 674px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#hero .hero-content .hero-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1360px;
    padding: 16px 8px;
    flex-direction: column;
    

    
    
}


#hero .hero-content .early-access{
    width: 229px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    gap: 6px;
    font-size: 16px;
    color: #30B868;
    margin-top: 115px;
    display: block;
    margin: 0px auto;
    margin-bottom: 16px;
    
}

#hero .hero-content .early-access img{
    color: #30B868;
    width: 6px;
    border-radius: 8px;
}

.hero-content .hero-heading h1{
    
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    width: 770px;
    margin-bottom: 16px;
    text-align: center;

}

.hero-content .hero-heading .note{
    color: #30B868;

}

.hero-content .hero-heading p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 1360px;
    margin-bottom: 32px;

}

.hero-content .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero-content .buttons .btn{
    width: 251px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;

}

.hero-content .buttons .btn-icon{
    display: flex;
    gap: 12px;
}

.hero-content .buttons .btn-icon img{
    width: 15px;
    height: 13px;
    justify-content: center;
    align-items: center;
}



.hero-content .buttons .btn-trans{
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    width: 198px;
}



#note{
    padding: 120px 120px 0px 120px;
}

#note .note-container{
    width: 96%;
    max-width: 1600px;
    margin: 0px auto;
}

#note .note-container .note-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 44px;
}

#note .note-container .note-heading h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    
}

#note .note-container .note-heading p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

#note .note-container .note-box{
    display: flex;
    gap: 24px;
}

#note .note-container .note-box .note-card{
    display: flex;
    flex-direction: column;
    
    border-radius: 8px;
    padding: 24px;
    gap: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0 #0000000F;
    align-items: center;
    justify-content: center;

}

#note .note-container .note-box .note-card img{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px;
    
}

#note .note-container .note-box .note-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    text-align: center;
    
}

#note .note-container .note-box .note-card p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 70px;
    text-align: center;
}



#brain{
    max-width: 1600px;
    background-color: #FFFFFF;
    padding: 120px;
}

#brain .brain-container{
    display: flex;
    gap: 60px;
    max-width: 1360px;
}

.brain-container img{
    max-width: 600px;
    border-radius: 12px;
}

.brain-container .brain-heading{
    max-width: 700px;
    gap: 40px;
    margin-top: 102px;
    margin-bottom: 102px;
}

.brain-container .brain-heading h6{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #30B868;
    margin-bottom: 16px;
}

.brain-container .brain-heading h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #001931;
    margin-bottom: 16px;
}

.brain-container .brain-heading p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.brain-container .brain-heading ul{
    gap: 16px;
    list-style: none;
}

.brain-container .brain-heading li{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    gap: 6px;
}

.brain-container .brain-heading li img{
    max-width: 16px;
    padding: 1.88px;
}